* {
	font-family: Arial;
}

body {
	width: 300px;
	height: 400px;
}

#onlyPubWarning {
	position: fixed;
	background: #FFF9D7;
	border-bottom: 1px solid #E2C822;
	padding: 5px;
	top: -60px;
	left: 0px;
	right: 0px;
	font-size: 13px;
	height: 45px;
	cursor: pointer;
	z-index: 10;
}

#addKey {
	font-size: 15px;
}

#addKey input:not([type='checkbox']) {
	font-size: inherit;
	margin-bottom: 5px;
	width: calc(100% - 10px);
	border: 1px solid #aaa;
	border-radius: 2px;
    background: #fff;
    padding: 5px;
    height: 20px;
    border: 1px solid #aaa;
    outline-color: #c8c8c8;
    color: #777;
	font-weight: bold;
}

a {
	color: #1f8dd6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input:focus, input:hover, textarea:focus, textarea:hover {
    box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.05) inset;
}

input:focus, textarea:focus {
    border-color: #2292ee;
    outline: none;
}

input[type="checkbox"] {
    box-shadow: none;
    -webkit-box-shadow: none;
}

#eccLabel {
	display: inline-block;
	font-size: 11px;
	width: 43px;
	vertical-align: middle;
}

.inputError {
	margin: 5px 0px;
	color: #d61f1f;
}

button{
    cursor: pointer;
    -webkit-appearance: none;
}
button.disabled_btn{
    border: 1px solid #000;
    cursor: auto;
}
.btn{
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #FFF;
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .1);
}
.btn:hover, .btn:focus, .text_to_btn:hover, .text_to_btn:focus{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.btn:focus{
    outline: 0;
}
.btn:active, .text_to_btn:active{
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.20) inset, 0 0 6px rgba(0,0,0, 0.25) inset;
}
.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active{
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}
.btn::-moz-focus-inner{
    padding: 0;
    border: 0;
}
.blue.btn {
    background-color: #1f8dd6;
}
.lightBlue.btn{
    background-color: #34a7ff;
}
.orange.btn {
    background-color: #FF9500;
}
.silver.btn {
    background-color: #EAEFF2;
    color: #777;
}
.white.btn {
    background-color: #fff;
    color: #777;
}
.text_to_btn{
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 2px;
}
.text_to_btn:hover, .text_to_btn:focus, .text_to_btn:active{
    border: 1px solid #999;
}
.text_to_btn.blue:hover, .text_to_btn.blue:focus, .text_to_btn.blue:active{
    color: #FFF;
    background: none repeat scroll 0% 0% #1a75bb;
}

.header {
	margin: 7px 0px 5px;
	font-size: 15px;
	padding: 5px 5px 1px;
	border-bottom: 1px solid #ddd;
}

.header span {
	font-size: 12px;
}

#keyList {
	display: block;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#keyList li {
	position: relative;
	padding: 5px;
	border-bottom: 1px solid #bbb;
	margin: 0px;
	background: #eee;
	font-size: 13px;
	cursor: pointer;
}

#keyList li:hover {
	background: #ddd;
}

.description, .key {
	width: 250px;
	word-break: break-all;
}

.key {
	display: none;
}

.key b{
	margin-top: 5px;
	display: inline-block;
}

.description {
	margin-top: 5px;
}

.active .delete {
	display: none;
}

.active .activeIndicator {
	display: block;
}

.delete, .activeIndicator {
	position: absolute;
	right: 0px;
	top: 50%;
	margin: -10px 0px;;
	cursor: pointer;
	width: 20px;
	height: 20px;
	font-size: 15px;
}

.delete:hover {
	font-weight: bold;
}

.activeIndicator {
	display: none;
}

.activeIndicator:after {
	content: " ";
	display: block;
	width: 3px;
	height: 6px;
	border-style: solid;
	border-color: #fff;
	border-image: none;
	border-width: 0px 2px 2px 0px;
	border-radius: 0px;
	transform: rotate(45deg);
	position: absolute;
	left: 4px;
	top: 5px;
	margin-top: 0px;
}

.activeIndicator:before {
	content: " ";
	display: block;
	border: 9px solid #1f8dd6;
	border-radius: 9px;
	height: 0px;
	width: 0px;
	position: absolute;
	left: -3px;
	top: 5px;
	margin-top: -4px;
}